.table {
  margin-bottom: 0;
  th {
    border-top: none;
  }
}

tr {
  display: flex;
  position: relative;
  & > * {
    flex: 1;
  }
}

.table-actions {
  justify-content: center;
  display: flex;
  flex-grow: 0 !important;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}
